* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#3D3D3A
}

.title {
  text-align: center;
  margin: 50px;
}

.container {
  display: block;
  background: rgba(53, 149, 190, 1);
  width: 350px;
  height: 300px;
  text-align: center;
  
  margin: 50px auto 50px;
  padding-top: 50px;
  border-radius: 20px ;
}

.label {
  display: inline-block;
  margin: 15px;
}

.input {
  border-radius: 10px;
  border: 2px solid #000000;
  width: 180px;
  text-align: center;
}


.btn {
  padding: 10px;
  background: #56D6CA;
  box-shadow: 2px 2px black;
  border-radius: 10px;
  width: 150px;
  margin: 20px;
}

#res {
  text-align: center;
  margin: 50px;
  font-weight: bold;
}

#footer {
  text-align: center 
}

#09E40F
#08870C
#5C9D06
#3D6E07
#AABA0A
#AABA0A

#B7960A
#D98005
#FF0000