:root {
  --cor-fundo:#095973; /*azul*/
  --cor-texto: #FFFFFF; /*branco*/
  --cor-container: #3595BE; 
  --cor-botao: #56D6CA
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: var(--cor-fundo);
  
}

.title {
  text-align: center;
  margin: 50px;
  color: var(--cor-texto);
}

.container {
  display: block;
  background: var(--cor-container);
  width: 350px;
  height: 300px;
  text-align: center;
  font-weight:bold;
  margin: 50px auto 50px;
  padding-top: 50px;
  border-radius: 20px;
  box-shadow: 4px 4px black;
}

/*.abc {
  background: red
}*/

.label {
  display: inline-block;
  margin: 15px;
  color: var(--cor-texto);
}

.input {
  border-radius: 10px;
  border: 2px solid #000000;
  width: 180px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}


.btn {
  padding: 10px;
  background: var(--cor-botao);
  box-shadow: 2px 2px black;
  border-radius: 10px;
  width: 150px;
  margin: 20px;
}

.change-theme {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
  
}

#save {
  display: none
}

#darkmode-toggle {
  border-radius: 50px ;
  width: 20px
}

.toggle-theme {
  margin-left: 10px;
  color: var(--cor-texto);
  font-weight: bold 
}

#res {
  text-align: center;
  margin: 50px;
  font-weight: bold;
}

#footer {
  text-align: center;
  color: var(--cor-texto);
}