* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#095973
}

.title {
  text-align: center;
  margin: 50px;
}

.container {
  margin: 100px;
}

table {
  border-collapse: collapse;
  border: 1px solid white;
  width: 100%;
  text-align: center;
}

th {
  padding: 
}

#footer {
  text-align: center 
}
